@import "tailwindcss";

html {
  scroll-behavior: smooth;
  --background: #fff2e2;
  --background-shaded: #e7ecd1;
  --shade: #D3D3D3;
  --transparent-green: rgb(104, 115, 80, 0.3);
  --green: rgb(104, 115, 80);
  --dark-green: rgb(1, 41, 27);
  --darker-green: #01291B;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #fff2e2;
  color: #01291B;
}

h1, h2 {
  font-family: "DynaPuff", sans-serif;
}
